# files for git to ignore.  this file is under revision control, and is
# shared by all AAL developers, so please tread lightly.

# Autotools intermediate files
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
test-driver
ylwrap
testsuite

# klocwork cache directories
.kwlp/
.kwps/

# vim swap files
*.swo
*.swp

# eclipse cdt project files
.autotools
.cproject
.project
.settings

# microsoft visual studio
.vs/
*.sdf

# google test
gtest-1.6.0/
gtest-1.7.0/

# symlinks we must ignore
kernel

*.o
*.so
*.0
*/nlb_test
*/spl_shm
*/umsg_test
*.log
work/
synopsys_sim.setup
*.tcl
*.mk
*.list
*.pyc
.vlogansetup.args
AN.DB/
DVEfiles/
csrc/
transcript
vc_hdrs.h

# Mac cruft
.DS_Store

cscope.in.out
cscope.out
cscope.po.out
*.tags
*.tags_sorted_by_file
